[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
timeout = 30

# Vault configuration
vault_password_file = ~/.vault_pass

# Output
stdout_callback = yaml
bin_ansible_callbacks = True

# SSH
pipelining = True
gather_facts = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[vault]
vault_password_file = ~/.vault_pass
